---
import { t } from 'i18next';
import SectionRoutes from '../sectionRoutes';
import { MAIL } from './Presentation.astro';
import LanguageSelector from './LanguageSelector.astro';
import ThemeSwitch from './ThemeSwitch.astro';
import Background from './Background.astro';

export const HEADER_BACKGROUND_ID = 'headerBackground';
export const PROFILE_PIC = `${import.meta.env.BASE_URL}/me/profile.jpg`;
---

<header class="header-wrapper fixed w-full h-20 overflow-hidden top-0 z-10">
  <Background id={HEADER_BACKGROUND_ID} class="opacity-90" />
  <div
    class="web-config-multiline flex-row gap-x-4 items-center px-4 justify-end hidden"
  >
    <LanguageSelector />
    <ThemeSwitch id="themeSwitchSmallWindow" />
  </div>
  <div
    class="main-header flex flex-row items-center justify-between mx-auto max-w-[1240px] px-4 h-20"
  >
    <img
      class="header-image rounded-full w-12 h-12"
      src={PROFILE_PIC}
      alt="profile pic"
    />
    <div class="flex flex-row gap-x-4 items-center">
      <nav class="flex flex-row gap-x-4 whitespace-nowrap">
        <a
          class="opacity-80 dark:text-white text-black transition dark:hover:text-yellow-400 hover:text-yellow-500 hover:opacity-100"
          href={`#${SectionRoutes.EXPERIENCE}`}
        >
          {t("experience.title")}
        </a>
        <a
          class="opacity-80 dark:text-white text-black transition dark:hover:text-yellow-400 hover:text-yellow-500 hover:opacity-100"
          href={`#${SectionRoutes.PROJECTS}`}
        >
          {t("projects.title")}
        </a>
        <a
          class="opacity-80 dark:text-white text-black transition dark:hover:text-yellow-400 hover:text-yellow-500 hover:opacity-100"
          href={`#${SectionRoutes.ABOUT}`}
        >
          {t("about.title")}
        </a>
        <a
          class="opacity-80 dark:text-white text-black transition dark:hover:text-yellow-400 hover:text-yellow-500 hover:opacity-100"
          href=`mailto: ${MAIL}`
        >
          {t("header.contact")}
        </a>
      </nav>
      <div class="web-config flex flex-row gap-x-4 items-center">
        <LanguageSelector />
        <ThemeSwitch id="themeSwitch" />
      </div>
    </div>
  </div>
</header>

<style is:inline>
  @media (max-width: 500px) {
    .main-header {
      justify-content: center;
    }

    .body-image {
      display: flex;
    }

    .header-image {
      display: none;
    }
  }

  @media (max-width: 670px) {
    .section {
      padding-top: 3rem;
    }

    .header-wrapper {
      height: 8rem;
      padding-top: 1rem;
    }

    .web-config {
      display: none;
    }

    .web-config-multiline {
      display: flex;
    }
  }
</style>
