---
import Header, { HEADER_BACKGROUND_ID } from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Background from '../components/Background.astro';
import '@fontsource-variable/onest';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

const BODY_BACKGROUND_ID = 'bodyBackground';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative">
		<Background id={BODY_BACKGROUND_ID}/>
		<Header />
		<slot />
		<Footer />
	</body>

	<script define:vars={{ HEADER_BACKGROUND_ID, BODY_BACKGROUND_ID }}>

		const headerBackground = document.getElementById(HEADER_BACKGROUND_ID);
		const bodyBackground = document.getElementById(BODY_BACKGROUND_ID);
		if (headerBackground && bodyBackground) {
			const bodySize = bodyBackground.getBoundingClientRect();
			headerBackground.style.height = `${bodySize.height.toString()}px`;
		}

		document.addEventListener('scroll', () => {
			if (headerBackground) headerBackground.style.transform = `translateY(-${window.scrollY}px)`;
		});
	</script>

	<style is:global>
		:root {
			color-scheme: light dark;
		}
		html {
			font-family: "Onest Variable", system-ui, sans-serif;
			scroll-behavior: smooth;
		}

		body {
			display: flex;
			justify-content: center;
			flex-direction: column;
			min-height: 100vh;
			overscroll-behavior: none;
		}

		@media (prefers-reduced-motion: reduce) {
			html {
				scroll-behavior: auto;
			}
		}
	</style>
</html>
